<footer>
<div class="container-fluid text-center">
    <div class="footer-background h5 text-white">
        &copy; Bobby#ANGULAR team 2024. All rights reserved.
    </div>
</div>
</footer>

<!-- <footer>
    <div class="footer-content">
        <p>&copy; 2024 Your Website Name</p>
        <ul>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="privacy.html">Privacy Policy</a></li>
        </ul>
        <div class="social-icons">
            <a href="#" class="icon-facebook"></a>
            <a href="#" class="icon-twitter"></a>
            <a href="#" class="icon-instagram"></a>
        </div>
    </div>
</footer> -->