<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span class="logo">World of Wine</span></p>
        </div>
        <div class="mini-navbar">
            <ul>
                <li>
                    <a href="/auth/profile">'s profile</a>
                </li>
                <li>
                    <a href="/auth/logout">Logout</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/auth/login">Login</a>
                </li>
                <li>
                    <a href="/auth/register">Register</a>
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Regions</a>
            </li>
            <li>
                <a href="#">Pairing</a>
            </li>
            <li>
                <a href="#">Tasting</a>
            </li>
        </ul>
    </nav>
</header>
