<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span class="logo">World of Wine</span></p>
        </div>
        <div class="mini-navbar">
            <ul *ngIf="isLog">
                <li>
                    <a href="/auth/profile">{{user?.username}}'s profile</a>
                </li>
                <li>
                    <a href="/auth/logout">Logout</a>
                </li>
            </ul>
            <ul *ngIf="!isLog">
                <li>
                    <a href="/auth/login">Login</a>
                </li>
                <li>
                    <a href="/auth/register">Register</a>
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/sections/about">About</a>
            </li>
            <li>
                <a href="/sections/regions">Regions</a>
            </li>
            <li>
                <a href="/sections/pairing">Pairing</a>
            </li>
            <li>
                <a href="/sections/tasting">Tasting</a>
            </li>
        </ul>
    </nav>
</header>
