/* Header and navigation styles */
header {
    background-color: #352e3a; /* Deep purple color */
    color: #fff; /* Text color */
    padding: 20px 0;
}

.navbar {
    background-color: #2b2231; /* Match header background color */
}

.nav-link {
    color: hsl(60, 14%, 99%); /* Gold text color */
    font-size: 18px; /* Larger font size */
    margin-right: 20px; /* Add spacing between links */
}

.nav-link:hover {
    color: #fff; /* Change color on hover to white */
}

.navbar-toggler {
    color: #fff; /* Toggle button color */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column; /* Stack navigation links vertically */
    }

    .nav-link {
        margin: 10px 0; /* Adjust spacing */
    }
}
