<header>
    <nav th:fragment="navigation" class="navbar navbar-expand-lg bg-nav rounded">
    <a th:if="${@loggedUser.isEmpty()}" class="nav-link text-white active h5" th:href="@{/}">Home</a>
    <!-- <th:block th:unless="${@loggedUser.isEmpty()}"> -->
            <a class="nav-link text-white active h5" th:href="@{/home}"
               th:text="${@loggedUser.getUsername}">User:</a>
        <!--        <a class="nav-link text-white active h5" th:href="@{/home}">Home</a>-->
        <a class="nav-link text-white active h5"
           th:href="@{/product/product-add}">Create
            Product</a>
        <a class="nav-link text-white active h5" th:href="@{/plant/plant-add}">Create
            Plant</a>
        <a class="nav-link text-white active h5" th:href="@{/shop/shop-add}">Create
            Shop</a>
        <a class="nav-link text-white active h5" th:href="@{/user/change-password}">Change Password</a>
        <a class="nav-link text-white active h5" th:href="@{/user/change-username}">Change Username</a>
    <!-- </th:block> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav row">
            <!-- <th:block th:if="${@loggedUser.isEmpty()}"> -->
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" th:href="@{/user/login}">Login</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" th:href="@{/user/register}">Register</a>
                </li>
            <!-- </th:block> -->
            <!-- <th:block th:unless="${@loggedUser.isEmpty()}"> -->
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" th:href="@{/user/logout}">Logout</a>
                </li>
            <!-- </th:block> -->
        </ul>
    </div>
    </nav>
</header>
