<body>
    <header>
        <h1>Welcome to the World of Wine</h1>
        <p>Discover the rich flavors and heritage of wine</p>
    </header>

    <main>
        <section>
            <img class="wine-image" src="https://wallpapercave.com/wp/4Xa3ieq.jpg" alt="Wine Image">
        </section>
        <section class="about-wine">
            <a href="/sections/about">
                <h2>About Wine</h2>
            </a>
            <p>Wine has been an integral part of human culture for centuries. It's not just a beverage; it's a
                reflection of tradition, terroir, and craftsmanship. Explore the fascinating history, production
                process, and varieties of wine.</p>
        </section>

        <section class="wine-regions">
            <a href="/sections/regions">
                <h2>Wine Regions</h2>
             </a>
            <h3>Dupnitsa Wine Region</h3>
            <p>The Dupnitsa wine region is located in the southwestern part of Bulgaria, known for its picturesque landscapes and favorable climate for winemaking. Situated near the Rila and Vitosha Mountains, the region benefits from fertile soils and abundant sunshine, creating ideal conditions for growing grapes.</p>
            
            <p>The vineyards of Dupnitsa are primarily planted with indigenous grape varieties such as Mavrud, Melnik, and Gamza, known for producing rich, flavorful wines with distinct regional characteristics. Wineries in Dupnitsa are renowned for their traditional winemaking methods and commitment to quality, resulting in award-winning wines enjoyed by wine enthusiasts worldwide.</p>
            
            <p>Visitors to the Dupnitsa wine region can explore charming wineries, sample a variety of wines, and immerse themselves in the rich winemaking heritage of Bulgaria. Whether you're a wine connoisseur or a curious traveler, the Dupnitsa wine region offers an unforgettable experience for all.</p>
        </section>

        <section class="wine-pairing">
            <a href="/sections/pairing">
                <h2>Wine Pairing</h2>
            </a>
            <p>Pairing wine with food can elevate both the dining experience and the flavors of the wine. Discover the
                art of wine pairing, from classic combinations to innovative matches that will tantalize your taste
                buds.</p>
        </section>

        <section class="wine-tasting">
            <a href="/sections/tasting">
                <h2>Wine Tasting</h2>
            </a>
            <p>Embark on a sensory journey as you learn the basics of wine tasting. Explore the nuances of aroma,
                flavor, and mouthfeel, and develop your palate to appreciate the subtleties of different wine styles
                and varietals.</p>
        </section>
    </main>
</body>