<!-- <body> -->
<div class="container">
    <form #form="ngForm" class="register" >

        <fieldset>
            <h2>Registration Form</h2>

            <!-- username -->
            <p class="field field-icon">
                <input #userInput="ngModel" ngModel required [minlength]="6" class="input-error" type="text" name="username" id="username" placeholder="Username">
            </p>
            <ng-container *ngIf="userInput.touched">
            <p class="error" *ngIf="userInput.errors?.['required']">
                Username is required!
            </p>
            <p class="error" *ngIf="userInput.errors?.['minlength']">
                Password must be at least 6 characters!
            </p>
            </ng-container>

            <!-- email -->
            <p class="field field-icon">
                <input #emailInput="ngModel" ngModel required type="email" name="email" id="email" [appEmail]="appEmailDomains" 
                 placeholder="john.doe@gmail.com">
            </p>
            <ng-container *ngIf="emailInput.touched">
            <p class="error" *ngIf="emailInput.errors?.['required']">
                Email is required!
            </p>
            <p class="error"  *ngIf="emailInput.errors?.['appEmailValidator']">
                Email is not valid!
            </p>
            </ng-container>

            <!-- telephone -->
            <p class="field field-icon">
                <select #emailInput="ngModel" ngModel name="select-tel" id="select-tel" class="tel">
                    <option value="00359">+359</option>
                    <option value="0040">+40</option>
                    <option value="0030">+30</option>
                    <option value="00381">+381</option>
                </select>
                <input type="text" name="tel" id="tel" placeholder="885 888 888">
            </p>

            <!-- password -->
            <p class="field field-icon">
                <input #passInput="ngModel" ngModel required [minlength]="8" type="password" name="password" id="password" placeholder="******">
            </p>
            <ng-container *ngIf="passInput.touched">
            <p class="error" *ngIf="passInput.errors?.['required']">
                Password is required!
            </p>
            <p class="error" *ngIf="passInput.errors?.['minlength']">
                Password must be at least 8 characters!
            </p>
            </ng-container>

            <!-- rePassword -->
            <p class="field field-icon">
                <input #rePassInput="ngModel" ngModel type="password" name="rePassword" id="rePassword" placeholder="******">
            </p>
            <ng-container *ngIf="(rePassInput.value!==passInput.value)">
            <p class="error">Repeat Password does not match password!</p>
            </ng-container> 

            <button [disabled]="form.invalid">Create Account</button>

            <p class="text-center">
                Have an account?
                <a href="/auth/login">Log In</a>
            </p>

        </fieldset>
    </form>
</div>
<!-- </body>  -->
